# Masold at `secrets.yaml` nevre es toltsd ki a sajat adataiddal.
# A secrets.yaml a .gitignore-ban van, igy NEM kerul fel a GitHub-ra.

wifi_ssid: "A_WIFI_HALOZATOD_NEVE"
wifi_password: "A_WIFI_JELSZAVAD"
